.project
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.hxl
*.map
*.mum
*.cmf
*.rlf
*.bak
firmware/nbproject/Makefile-*
firmware/nbproject/Package-*.bash
firmware/nbproject/private/
firmware/build/
hardware/led-pedestal-backups/